<h1>New page</h1>

<% form_for([@comic, @chapter, @page], :url => comic_chapter_pages_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <% f.fields_for :panels do |asset| %>
    <% if asset.object.new_record? %>
      <%= asset.file_field :image %><br \>
    <% end %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comic_chapter_path(@comic, @chapter)%>
