<h1>Editing chapter</h1>

<% form_for([@chapter.comic, @chapter], :url => edit_comic_chapter_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', comic_chapter_path(@chapter.comic, @chapter) %>
